.form-container {
  margin-block: 64px;
  max-width: 90%;
  margin-inline: auto;
}

.form-container header {
  margin-bottom: 48px;
}

.form-container h1 {
  font-size: 30px;
  margin-bottom: 16px;
}

.form-container p {
  color: #475467;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

/* FORM STYLING */

fieldset {
  border: none;
}

.form-group:not(.unique) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 24px;
}

.form-group label {
  color: #344054;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
}

div.unique {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 32px;
}

input[type="text"],
input[type="email"] {
  padding: 10px 14px;
  width: 100%;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}

textarea {
  padding: 12px 14px;
  width: 100%;
  height: 108px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
}

/* Customize input and textarea placeholder color */
::-webkit-input-placeholder {
  color: #667085;
}

::-moz-placeholder {
  color: #667085;
}

::-ms-placeholder {
  color: #667085;
}

::placeholder {
  color: #667085;
}
