.footer {
  margin-bottom: 20px;
  font-weight: var(--fw-light);
  font-size: 16px;
  color: #667085;
}
.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 20px 0;
}
