.modal-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  bottom: 0;
  background-color: rgba(10, 11, 13, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-modal {
  position: absolute;
  gap: 24px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #667085;
  background-color: whitesmoke;
  border-radius: 3%;
  max-width: 40%;
  padding: 2rem;
}

.share-header {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /* gap: 11rem; */
}

.share-title {
  font-size: 1.1rem;
  font-weight: bold;
}

.share-btn {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.1rem 0.3rem;
  border: none;
  cursor: pointer;
  position: absolute;
  right: -6rem;
}

.share-btn:hover {
  background-color: #0a0909;
  color: aliceblue;
  border: 1px solid #667085;
}

.link-modal {
  text-decoration: none;
  color: var(--color-primary);
  background-color: var(--color-grey);
  border: 1px solid var(--color-grey);
  border-radius: 8px;
  padding: 24px 32px;
  min-width: 350px;
  margin-inline: 16px;
  font-size: var(--fs-text);
  font-weight: var(--fw-light);

  position: relative;
}

a:hover,
a:focus {
  background-color: var(--color-primary);
  color: var(--color-white);
}
