.social > .wrapper {
  flex-direction: row;
}

.social-icon {
  width: 30px;
}

.social-icon > img {
  width: 30px;
  margin-bottom: 20px;
}

.social-icon:hover {
  background-color: transparent;
  color: transparent;
}
